﻿
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Hotel Reservation", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                <li>@Html.ActionLink("Hotel", "Index", "Hotels")</li>
                <li>@Html.ActionLink("Reservation", "UserReservation", "Reservations")</li>
                <li>@Html.ActionLink("Room", "Index", "Rooms")</li>
                <li>@Html.ActionLink("Country", "Index", "Countries")</li>
                <li>@Html.ActionLink("State", "Index", "States")</li>
                <li>@Html.ActionLink("City", "Index", "Cities")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>