﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    1)Pasha, Maroof Ur Rahman	A00422929
    2)Nitin Akash	            A00421043
    3)Salman, Alya	            A00418039
</p>
