﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>



<address>
    <strong>Support:</strong>   <a href="mailto:marooflive@gmail.com">marooflive@gmail.com</a><br />
</address>