﻿@model IEnumerable<HotelReservation.Models.Hotel>
@{
    ViewBag.Title = "Hotel Reservation App";
}

<div class="jumbotron">
    <h1>Hotel Reservation</h1>
    <p class="lead">Find the ideal hotel near you.</p>
</div>

                                          
@if (Model != null)
{
    <table id="hotels" class="table">
        <thead>
            <tr>
                <th>
                    HOTEL
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
              
                <th>
                   Country
                </th>
                <th>
                    State/Province
                </th>
                
                <th>
                    City
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>


                <th>
                    @Html.DisplayNameFor(model => model.Rating)
                </th>

                <th>

                </th>

            </tr>
        </thead>
        
        <tbody>
            @foreach (var item in Model)
            {
                
                    <tr>

                        <td>
                            <a href="@Url.Action("Index","Reservations",new { id = item.Id })" class="btn-link">
                                @Html.DisplayFor(modelItem => item.Name)
                            &ensp;    
                            </a>
                    </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                            
                        </td>
                        
                        <td>
                            @Html.DisplayFor(modelItem => item.Country.Name)
                        </td>
                        
                        <td>
                            @Html.DisplayFor(modelItem => item.State.StateName)
                        </td>
                        
                        <td>
                            @Html.DisplayFor(modelItem => item.City.Name)
                        </td>
                       
                        <td>
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Rating)
                        </td>

                        <td>
                            <a href="@Url.Action("Index","Reservations",new { id = item.Id })">
                                Book
                            </a>
                        </td>
                            


                    </tr>


            }
        </tbody>
</table>

}
<div class="row">
    @*@using Microsoft.AspNet.Identity
@if (!Request.IsAuthenticated)
{
    <div class="col-md-4">
        <h2>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink"})</h2>
        
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</h2>
        <p></p>
    </div>
}*@
</div>
@section scripts
{
    <script>
        $(document).ready(function() {
            $("#hotels").DataTable();
        });
    </script>
}
