﻿@model HotelReservation.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}


<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.DateOfBirth, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.DateOfBirth,  "01/01/1990", new { @class = "date-picker form-control" })
            @Html.ValidationMessageFor(m => m.DateOfBirth, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
        </div>
    </div>

    
    <div class="form-group">
        @Html.LabelFor(m=>m.Gender ,new {@class="col-md-2 control-label"})
        <div class="col-md-10">
            @Html.DropDownListFor(m=>m.Gender,new SelectList(new List<string>{"Male","Female"}),"Select Gender",new {@class="form-control"})
            @Html.ValidationMessageFor(m => m.Gender, "", new { @class = "text-danger" })
        </div>
    </div>
    @*<div class="form-group">
        <div class="col-md-2 control-label" }><b>Country</b></div>
        <div class="col-md-10">
            @Html.DropDownListFor(m=>m.CountryId,new SelectList(Model.Countries.ToList(),"Id","Name"),"Select Country",new {@class="form-control"})
            @Html.ValidationMessageFor(m => m.CountryId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-2 control-label" }><b>State</b></div>
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.StateId, new SelectList(Model.States, "Id", "StateName"), "Select State", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.StateId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class = "col-md-2 control-label" }><b>City</b></div>
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.CityId, new SelectList(Model.Cities, "Id", "Name"), "Select City", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.CityId, "", new { @class = "text-danger" })
        </div>
    </div>*@
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}



@Scripts.Render("~/bundles/lib")
<script>

    $(function () {
        $(".date-picker").datepicker();
    });

    $(function () {
        $("#CountryId").change(function() {
            $.get("/States/GetStates",
                { CountryId: $("#CountryId").val() },
                function(data) {
                    $("#StateId").empty();
                    $.each(data,
                        function(index, row) {
                            $("#StateId").append("<option value='" + row.Id + "'>" + row.StateName + "</option>")
                        });
                });
        });
    });
    $(function () {
        $("#StateId").change(function () {
            $.get("/Cities/GetCities",
                { StateId: $("#StateId").val() },
                function (data) {
                    $("#CityId").empty();
                    $.each(data,
                        function (index, row) {
                            $("#CityId").append("<option value='" + row.Id + "'>" + row.Name + "</option>")
                        });
                });
        });
    });
</script>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
