﻿@model HotelReservation.Models.Reservation
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Thank you for booking with us</h2>
<h4>Below is your booking detail.</h4>
<table>
    
    <tr>
        <td>Customer Name</td>
        <td>@Model.Customer.Name </td>
    </tr>
    <tr>
        <td>Customer Country</td>
        <td>@Model.Customer.Country.Name </td>
    </tr>
    <tr>
        <td>Customer City</td>
        <td>@Model.Customer.City.Name </td>
    </tr>
    <tr>
        <td>Customer State</td>
        <td>@Model.Customer.State.StateName </td>
    </tr>

</table>
For more detail please click on @Html.ActionLink("Reservation", "UserReservation", "Reservations") tab.