﻿@using HotelReservation.Models
@model IEnumerable<HotelReservation.ViewModel.ReservationDetailViewModel>
@{
    ViewBag.Title = "UserReservation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>UserReservation</h2>
<table id="reservation">
    <thead>
    <tr>
        <th>From Date</th>
        <th>To Date</th>
        <th>Number OF Guest</th>
        <th>Customer Name</th>
        <th>Customer Country</th>
        <th>Customer State</th>
        <th>Customer City</th>
        <th>Customer Street Number</th>
        <th>Customer Postal Code</th>
        <th>Customer Phone Number</th>
    </tr>
    </thead>

    <tbody>
    @if (Model == null)
    {
        <tr>
            No Reservation available
        </tr>
    }
    else
    {
        foreach (var reservationDeaDetailViewModel in Model)
         {
             <tr>
                 <td>@reservationDeaDetailViewModel.Reservation.FromDate</td>
                 <td>@reservationDeaDetailViewModel.Reservation.ToDate</td>
                 <td>@reservationDeaDetailViewModel.Reservation.NumberOFGuest</td>


                 <td>@reservationDeaDetailViewModel.Reservation.Customer.Name</td>
                 <td>@reservationDeaDetailViewModel.Reservation.Customer.Country.Name</td>
                 <td>@reservationDeaDetailViewModel.Reservation.Customer.State.StateName</td>
                 <td>@reservationDeaDetailViewModel.Reservation.Customer.City.Name</td>
                 <td>@reservationDeaDetailViewModel.Reservation.Customer.StreetNumber</td>
                 <td>@reservationDeaDetailViewModel.Reservation.Customer.PostalCode</td>
                 <td>@reservationDeaDetailViewModel.Reservation.Customer.Phone</td>
                 @if (User.IsInRole(RoleName.ManageHotels))
                 {
                     <td>@Html.ActionLink("Delete","DeleteReservation",new {id=reservationDeaDetailViewModel.Reservation.Id})</td>
                 }
             </tr>
         }
    }
    </tbody>
</table>
@section scripts
{
    <script>
        $(document).ready(function() {
            $("#reservation").DataTable();
        });
    </script>
}

