﻿@model HotelReservation.ViewModel.BookingViewModel

@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Reservation";
   
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Book Your Hotel Room</h2>
<hr />


@using (Html.BeginForm("Book","Reservations"))
  {
      @Html.HiddenFor(m=>m.Hotel.Id)
    @Html.AntiForgeryToken()
      @Model.Hotel.Name
    <div class="form-horizontal">
        <h4>Room Reservation Information</h4>
        <hr />
       @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
           <div class = "control-label col-md-2" >Select Room Type:
        </div>
            <div class="col-md-10">
             
                @Html.DropDownListFor(model => model.Reservation.HotelRoomIdStatic, new SelectList(Model.Room, "Id", "RoomType"), "Select Room", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Reservation.HotelRoomIdStatic, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class = "control-label col-md-2">Check-In Date</div>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Reservation.FromDate, new DateTime().ToShortDateString(), new { @class = "date-picker form-control" })
                @Html.ValidationMessageFor(model => model.Reservation.FromDate, "", new { @class = "text-danger" })


            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2"> Check-Out Date</div>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Reservation.ToDate,  new DateTime().ToShortDateString(),
  new { @class = "date-picker form-control"})
                @Html.ValidationMessageFor(model => model.Reservation.ToDate, "", new { @class = "text-danger" })
            </div>
        </div>
       

        <div class="form-group">
            <div class="control-label col-md-2">Number of Guests</div>
            <div class="col-md-10">
                @Html.TextBoxFor(m=>m.Reservation.NumberOFGuest, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Reservation.NumberOFGuest, "", new { @class = "text-danger" })
            </div>
        </div>



        <h4>Contact Information</h4>
        <hr />

        <div class="form-group">
            @Html.LabelFor(model => model.Reservation.Customer.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Reservation.Customer.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Reservation.Customer.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Reservation.Customer.StreetNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Reservation.Customer.StreetNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Reservation.Customer.StreetNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m=>m.Reservation.Customer.CountryId,new {@class="col-md-2 control-label"})
            <div class="col-md-10">
                @Html.DropDownListFor(m=> m.Reservation.Customer.CountryId, new SelectList(Model.Country,"Id","Name"),"Select Country",new {@class="form-control"})
                @Html.ValidationMessageFor(m => m.Reservation.Customer.CountryId, "", new { @class = "text-danger" })


            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Reservation.Customer.StateId, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.Reservation.Customer.StateId, new SelectList(Model.State, "Id", "StateName"), "Select State", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Reservation.Customer.StateId, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Reservation.Customer.CityId, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.Reservation.Customer.CityId, new SelectList(Model.City, "Id", "Name"), "Select City", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Reservation.Customer.CityId, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Customer.PostalCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Reservation.Customer.PostalCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Reservation.Customer.PostalCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Customer.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Reservation.Customer.Phone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Reservation.Customer.Phone, "", new { @class = "text-danger" })
            </div>
        </div>


        <h4>Credit Card Information</h4>
        <hr />
        <div class="form-group">
            <div class="control-label col-md-2">
                Credit Card Type:</div>
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Reservation.CreditCard.CreditType, new SelectList(Model.CreditCardType, "CreditCardType"), "- Please select a card type -", new { @class = "form-control" })
                </div>
            </div>
   

        <div class="form-group">
            @Html.LabelFor(model => model.Reservation.CreditCard.CreditCardName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Reservation.CreditCard.CreditCardName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Reservation.CreditCard.CreditCardName, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="control-label col-md-2">Credit Card Number:</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Reservation.CreditCard.CreditCardNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Reservation.CreditCard.CreditCardNumber, "", new { @class = "text-danger" })
            </div>
        </div>
           

        <div class="form-group">
            <div class="control-label col-md-2">Credit Card Expiry Date:</div>
            <div class="col-md-10">
               @Html.TextBoxFor(model => model.Reservation.CreditCard.ExpiryDate, String.Format("{0:d}", new DateTime().ToShortDateString()),
  new { @class = "date-picker form-control", type = "date" })
                @Html.ValidationMessageFor(model => model.Reservation.CreditCard.ExpiryDate, "", new { @class = "text-danger" })
            </div>
        </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Book" class="btn btn-default" />
                </div>
            </div>
        </div>

}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script>
    $(function () {
        $(".date-picker").datepicker({
            minDate: 0 
        });
    });

    $(document).ready(function () {
        $("#Reservation_Customer_CountryId").change(function() {
            $.get("/States/GetStates",
                { CountryId: $("#Reservation_Customer_CountryId").val() },
                function(data) {
                    $("#Reservation_Customer_StateId").empty();
                    $.each(data,
                        function(index, row) {
                            $("#Reservation_Customer_StateId").append("<option value='" + row.Id + "'>" + row.StateName + "</option>")
                        });
                });
        });
    });
    $(document).ready(function () {
        $("#Reservation_Customer_StateId").change(function () {
            $.get("/Cities/GetCities",
                { StateId: $("#Reservation_Customer_StateId").val() },
                function (data) {
                    $("#Reservation_Customer_CityId").empty();
                    $.each(data,
                        function (index, row) {
                            $("#Reservation_Customer_CityId").append("<option value='" + row.Id + "'>" + row.Name + "</option>")
                        });
                });
        });
    });
</script>

